[Unit]
Description=PL piletikontroll
After=etcd.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill piletikontroll
ExecStartPre=-/usr/bin/docker rm piletikontroll
ExecStartPre=/usr/bin/docker pull argoroots/piletikontroll:latest
ExecStart=/usr/bin/docker run \
          --name="piletikontroll" \
          --env="PORT=4000" \
          --volume="/data/piletikontroll/log:/usr/src/piletikontroll/log" \
          --publish="80:4000" \
          argoroots/piletikontroll
ExecStop=/usr/bin/docker stop piletikontroll

[X-Fleet]
Conflicts=piletikontroll*
MachineMetadata=public_ip=188.166.120.69
