extends layout

block content
    .container
        .row
            .form-group.col-xs-12
                label.control-label(for='select_terminal') Terminal
                select#select_terminal.form-control
                    option(value='')
                    each t, g in terminals
                        optgroup(label=g)
                            each i in t.sort(function(obj1, obj2) { return obj1.name > obj2.name })
                                option(value=i.id)= i.name

            .hidden.form-group.col-xs-12.col-sm-5
                label.control-label(for='barcode') Pileti triipkood
                input#barcode.form-control(type='text')

            .hidden.form-group.col-xs-12.col-sm-5
                label.control-label(for='ticket_id') Pileti ID-number
                input#ticket_id.form-control(type='text')

            .hidden.form-group.col-xs-12.col-sm-2
                label.control-label(for='check') &nbsp;
                button#check.btn.btn-info.col-xs-12 Kontrolli

        .row
            #spinner.hidden.text-center.col-xs-12
                i.fa.fa-refresh.fa-spin

            .col-xs-12
                .hidden.alert.text-center.col-xs-12
                    strong#results

    script.
        var q_options = {}
        var statuses = {
            'A': 'alert-success',
            'B': 'alert-danger',
            'C': 'alert-danger',
            'D': 'alert-warning',
            'I': 'alert-warning'
        }

        $('#select_terminal').change(function(event) {
            $(this).attr('disabled', 'disabled')
            $('#barcode, #ticket_id, #check').parent().removeClass('hidden')
            $('#barcode').focus()
            q_options.term = $(this).val()
        })

        $('#barcode').change(function(event) {
            $('#ticket_id').val('')
            q_options.ticket = $(this).val()
            q_options.op = 'T'
        })

        $('#ticket_id').change(function(event) {
            $('#barcode').val('')
            q_options.ticket = $(this).val()
            q_options.op = 'M'
        })

        $('#barcode, #ticket_id').keypress(function(e) {
            if(e.which == 13) {
                $('#check').trigger('click')
            } else {
                $(this).trigger('change')
            }
        })

        $('#check').click(function(event) {
            $('#spinner').removeClass('hidden')
            $('#results').html('')
            $('#barcode, #ticket_id, #check').attr('disabled', 'disabled')
            for(s in statuses) {
                $('#results').parent().removeClass(statuses[s])
            }
            $.get('/ticket', q_options, function(data) {
                $('#results').html(data.rows.join('<br>'))
                $('#results').parent().addClass(statuses[data.status])
                reset_form()
            }).fail(function(data) {
                $('#results').html('VIGA<br>sisesta uuesti')
                $('#results').parent().addClass('alert-danger')
                reset_form()
            })
        })

        function reset_form() {
            $('#spinner').addClass('hidden')
            $('#results').parent().removeClass('hidden')
            $('#barcode, #ticket_id, #check').attr('disabled', null)
            if(q_options.op == 'T') {
                $('#barcode').focus()
            } else {
                $('#ticket_id').focus()
            }
        }
