extends layout

block content
    .container
        .row
            .form-group.col-xs-12
                label.control-label(for='select_terminal') Terminal
                select#select_terminal.form-control
                    option(value='') Vali terminal
                    each t in terminals
                        option(value=t.id)= t.name

            .hidden.form-group.col-xs-12.col-sm-5
                label.control-label(for='ticket_id') Piletilevi pileti ID-number
                input#ticket_id.form-control(type='text')

            .hidden.form-group.col-xs-12.col-sm-5
                label.control-label(for='barcode') Pileti triipkood
                input#barcode.form-control(type='text')

            .hidden.form-group.col-xs-12.col-sm-2
                label.control-label(for='check') &nbsp;
                button#check.btn.btn-success.col-xs-12 Kontrolli

        .row
            .hidden.col-xs-12
                pre#results.col-xs-12



    script.
        var q_options = {}
        var input_type =

        $('#select_terminal').change(function(event) {
            $(this).attr('disabled', 'disabled')
            $('#ticket_id, #barcode, #check, #results').parent().removeClass('hidden')
            q_options.term = $(this).val()
        })

        $('#barcode').change(function(event) {
            $('#ticket_id').val('')
            q_options.ticket = $(this).val()
            q_options.op = 'T'
            input_type = 'triipkood'
        })

        $('#ticket_id').change(function(event) {
            $('#barcode').val('')
            q_options.ticket = $(this).val()
            q_options.op = 'M'
            input_type = 'pileti id'
        })

        $('#check').click(function(event) {
            $.get('/ticket', q_options, function(data) {
                $('#results').html(JSON.stringify(data, null, '  '))
            }).fail(console.log)
        })
