body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#login_frame {
  /*position: fixed;*/
  top : 0px;
  height: 500px;
  width: 200px;
}

.status_A {
  background-color: green;
}

.status_D, .status_I {
  background-color: yellow;
}

.status_B, .status_C {
  background-color: red;
}